.env
node_modules
logs
routes/api/vertexAI/audio/
routes/api/vertexAI/audioMP3/
routes/api/vertexAI/audioWAV/
routes/api/openAI/audio/
routes/api/openAI/audioMP3/
routes/api/openAI/audioWAV/
pleap24-2283bc0de862.json
routes/audioMP3/
routes/audioWAV/
download.sh
USE_POLICY.md 
LICENSE
consolidated.00.pth
checklist.chk
tokenizer_checklist.chk
tokenizer.model


