.env
node_modules
logs
routes/audio/
pleap24-2283bc0de862.json
routes/audioMP3/
routes/audioWAV/
download.sh
USE_POLICY.md 
LICENSE
consolidated.00.pth
checklist.chk
tokenizer_checklist.chk
tokenizer.model
