.lesson-description {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}

.learning-object-div {
    justify-content: space-between; /* Horizontally center */
    align-items: center;  
    width: 70%;
    background-color: var(--componentColorDark);
    border-radius: 4px;
    padding: 60px 60px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    margin: 5em auto; 
    box-shadow: 0 4px 4px var(--hoverShadowColor); 
}

.lesson-title {
    font-size: larger;
    text-align: center;
}

.lesson-author { 
    text-align: center;
}

.learning-objects-div {
    margin: 5em;
}