.lesson-div{
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 800px;
    background-color: var(--inputColor);
    border-radius: 4px;
    padding: 60px 60px;
    box-sizing: border-box; 
    display: grid;
    margin: 0 auto; 
    box-shadow: 0 4px 4px var(--hoverShadowColor); 
}

.lesson-title {
    font-size: larger;
    text-align: center;
}

.lesson-author { 
    text-align: center;
}

.learning-objects-div {
    margin: 5em;
}