.lesson-link-div {
    justify-content: space-evenly; /* Horizontally center */
    align-items: center;  
    width: 70%;
    border-radius: 4px;
    padding: 60px 60px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    margin: 2em auto; 
    box-shadow: 0 4px 4px var(--hoverShadowColor); 
    text-align: center;
    text-decoration: none;
    color: var(--txtColorDark);
}


.lesson-link-div:hover {  
    /* color: var(--txtColorDark);  */
    background-color: var(--componentColorDark);
}

.lesson-title {
    font-size: larger;
    text-align: center;
}

.lesson-author { 
    text-align: center;
}