.mcq-div {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 29px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px #000 solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.mcq-header {
    margin-top: 50px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
}

.mcq-icon {
    width: 25px;
    height: 25px;
    position: relative;
    color: #000;
}

.mcq-title {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.ai-icon {
    width: 25px;
    height: 25px;
    position: relative;
    color: #00A399;
}

.quiz-number-progress {
    color: #3E3E3E;
    font-size: 20;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    word-wrap: break-word;
}

.mcq-quiz-container {
    display: flex;
    width: 100%;
}

.mcq-quiz-container h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

.mcq-quiz-container ul {
    width: 100%;
}

.mcq-quiz-container li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    padding: 10px; 
    margin-top: 10px;
    cursor: pointer; 
    box-shadow: none;
    border-radius: 30px;
}

.mcq-quiz-container li:hover {
    background-color: #E9E9E9;
}

.mcq-quiz-section {
    box-shadow: 0 0 0 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--inputColor);
    border-radius: 4px;
    box-sizing: border-box; 
    display: grid;
    margin: 10px; 
    padding-left: 30px;
    padding-right: 30px;
}

.mcq-quiz-section ol li {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: lowercase; 
}


.selected-mcq-answer {
    border: 1px #000 solid;
    background-color: #e6e6e6; 
    padding: 10px;
}

.correct-mcq-answer {
    background-color: #e6f9d8;
    border: 1px #cdefcd solid;
    box-shadow: 0 2px 4px var(--hoverShadowColor); 
    padding: 10px; 
}

.incorrect-mcq-answer {
    background-color: #fde0e0;
    border: 1px #de9797 solid;
    box-shadow: 0 2px 4px var(--hoverShadowColor);  
    padding: 10px;
}