.quiz-container {
    align-items: center; /* Vertically center */
    width: 500px;
    background-color: var(--inputColor);
    border-radius: 4px;
    padding: 60px 60px;
    box-sizing: border-box; 
    display: grid;
    margin: 0 auto; 
    box-shadow: 0 4px 4px var(--hoverShadowColor); 
    transition: opacity 0.5s ease;
}

.quiz-container.fade-out {
    opacity: 0;
}

.quiz-progress {
    font-size: 12px;
    font-weight: 500;
}

.mcq-div {
    width: 100%;
}

ul {
    margin-top: 5px;
    align-items: center;
}

li {
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    font-size: 16px;
    /* border: 1px solid;  */
    padding: 5px; 
    margin-top: 10px;
    cursor: pointer; 
}

.selected-answer {
    background-color: #e6e6e6;
    box-shadow: 0 2px 4px var(--hoverShadowColor);  
}

.unselected-answer {
    background-color: var(--bgColorDark);
    border-color: var(--txtColorMedium);
    box-shadow: 0 2px 4px var(--hoverShadowColor); 
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.quizButton {
    inherits: none;
    background-color: var(--inputColor);
    border: none;
    border-radius: 0px; 
    padding: 10px 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;   
}

.quizButton:hover {
    color: var(--buttonHoverColor);
    background-color: var(--inputColor);
    border: none;
}

.quizButton:disabled {
    cursor: not-allowed;
}


.correct-answer {
    background-color: #b6dfb6;
    box-shadow: 0 2px 4px var(--hoverShadowColor);  
}

.incorrect-answer {
    background-color: #de9797;
    box-shadow: 0 2px 4px var(--hoverShadowColor);  
}