/* .quiz-container {
    justify-content: center; /* Horizontally center */
    /* align-items: center; /* Vertically center */
    /* width: 500px;
    background-color: var(--inputColor);
    border-radius: 4px;
    padding: 60px 60px;
    box-sizing: border-box; 
    display: grid;
    margin: 0 auto; 
    box-shadow: 0 4px 4px var(--hoverShadowColor); 
} */

.quiz-progress {
    font-size: 12px;
    font-weight: 500;
}

ul {
    margin-top: 5px;
    /* margin-left: 40px; */
}

li {
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    font-size: 16px;
    /* border: 1px solid;  */
    padding: 5px; 
    margin-top: 5px;
    cursor: pointer; 
}

.selected-answer {
    background-color: #e6e6e6;
    box-shadow: 0 2px 4px var(--hoverShadowColor);  
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}


