.upload-lesson-title {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.lesson-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}

.lesson-content label {
    width: 100%;
    display: block;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-top: 30px;
}

.lo-input {
    width: 60%;
    padding: 10px;
    font-size: 15px;
    border: #d3d3d3 1px solid;
    border-radius: 5px;
}

.lo-textarea {
    padding: 10px;
}

.lesson-upload-button-container {
    width: 80%;
    margin-left: 10%; 
    justify-content: center;
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.lo-upload-div {
    margin-top: 30px;
    border: 2px solid #9a9a9a;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    height: fit-content;
    padding: 40px;
}

.lo-upload-div label {
    margin-top: 20px;
    font-size: 18px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #3e3e3e;
}


.lo-upload-container {
    width: 60%;
}

.lo-narrative-textarea {
    width: 100%;
    font-size: 15px;
    border: #d3d3d3 1px solid;
    border-radius: 5px;
}

.lo-link-upload {
    width: 100%;
}